.styled-table {
    border-collapse: collapse;
    font-size: 0.7em;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #4e73df;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 2px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #4e73df;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.align-items-center{
    margin: 0 auto;
}

.date-value{
    word-break: break-all;
    min-width: 145px;
    white-space: pre-wrap;
}

.name-value{
    word-break: break-all;
    min-width: 200px;
}

.hash-value{
    word-break: break-all;
    width: 50px;
}

.normal-value{
    word-break: keep-all;
    white-space: nowrap;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
    float: left;
}

.next {
    background-color: #04AA6D;
    color: white;
    float: right;
}

.moveTable{
    width: 100%;
}

.round {
    border-radius: 50%;
}